# Activar el motor de reescritura de URL.
RewriteEngine On

# Redirigir todas las solicitudes que no sean archivos o directorios existentes a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Fin del archivo .htaccess